.topnav {
    background-color: #FFFFFF;
}

.navbar-brand img {
    height: 60px;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

.white-body {
    background-color: #FFFFFF;
    padding: 20px;
}

/* Title Section */
.title-section {
    padding: 50px 0;
}

.title-box {
    background-color: rgba(255, 255, 255, 0.7); /* Add a semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    text-align: center; /* Center align the content */
    margin: auto; /* Center the box horizontally */
    max-width: 80%; /* Limit the width of the box */
    margin-top: 50px; /* Adjust margin to add space between topnav and title */
    margin-bottom: 50px; /* Adjust margin to add space between title and picture */
}

.title-box h1 {
    font-family: 'Tilt Warp', sans-serif;
    margin-bottom: 10px; /* Add some space below the title */
    margin-top: 20px; /* Adjust margin to add space between title and motto */
}

.title-box p {
    font-family: 'Noto Serif Gurmukhi', serif; /* Use Noto Serif Gurmukhi font for the motto */
    margin-bottom: 20px; /* Add some space below the motto */
}

/* Picture Section */
.picture-section {
    padding: 20px 0; /* Adjust padding for mobile devices */
    text-align: center;
}

.picture-section img {
    max-width: 80%; /* Limit the image width to 80% of its container */
    border-radius: 10px;
    margin-top: -100px; /* Adjust margin to add space between title and picture */
}

/* Aspects Section */
#aspects {
    padding: 20px;
    max-width: 85%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 30px;
}

#aspects h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#aspects .content {
    line-height: 1.6;
    font-size: 18px;
}

#aspects .content p {
    margin-bottom: 15px;
    font-family: 'Noto Serif Gurmukhi', serif;
    text-align: justify;
}

/* UX Section */
#ux {
    padding: 20px;
    background-color: #f8f9fa; /* Light gray background */
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 30px; /* Add some space below the section */
    max-width: 85%;
    margin: 0 auto;
}

#ux h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px; /* Increase font size for headings */
    color: #333; /* Darker text color */
    margin-bottom: 10px; /* Add some space below the heading */
}

#ux .content {
    line-height: 1.6; /* Increase line height for better readability */
    font-size: 18px; /* Adjust font size for content */
}

#ux .content p {
    font-family: 'Noto Serif Gurmukhi', serif;
    margin-bottom: 15px; /* Add some space between paragraphs */
    text-align: justify;
}

/* Accessibility Section */
#accessibility {
    padding: 20px;
    background-color: #f8f9fa; /* Light gray background */
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 30px; /* Add some space below the section */
    max-width: 85%;
    margin: 0 auto;
}

#accessibility h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px; /* Increase font size for headings */
    color: #333; /* Darker text color */
    margin-bottom: 10px; /* Add some space below the heading */
}

#accessibility .content {
    line-height: 1.6; /* Increase line height for better readability */
    font-size: 18px; /* Adjust font size for content */
}

#accessibility .content p {
    font-family: 'Noto Serif Gurmukhi', serif;
    margin-bottom: 15px; /* Add some space between paragraphs */
    text-align: justify;
}

/* Responsiveness Section */
#responsiveness {
    padding: 20px;
    background-color: #f8f9fa; /* Light gray background */
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 30px; /* Add some space below the section */
    max-width: 85%;
    margin: 0 auto;
}

#responsiveness h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px; /* Increase font size for headings */
    color: #333; /* Darker text color */
    margin-bottom: 10px; /* Add some space below the heading */
}

#responsiveness .content {
    line-height: 1.6; /* Increase line height for better readability */
    font-size: 18px; /* Adjust font size for content */
}

#responsiveness .content p {
    font-family: 'Noto Serif Gurmukhi', serif;
    margin-bottom: 15px; /* Add some space between paragraphs */
    text-align: justify;
}

/* Visual Design Section */
#vd {
    padding: 20px;
    background-color: #f8f9fa; /* Light gray background */
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 30px; /* Add some space below the section */
    max-width: 85%;
    margin: 0 auto;
}

#vd h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px; /* Increase font size for headings */
    color: #333; /* Darker text color */
    margin-bottom: 10px; /* Add some space below the heading */
}

#vd .content {
    line-height: 1.6; /* Increase line height for better readability */
    font-size: 18px; /* Adjust font size for content */
}

#vd .content p {
    font-family: 'Noto Serif Gurmukhi', serif;
    margin-bottom: 15px; /* Add some space between paragraphs */
    text-align: justify;
}
/*----------- DESKTOP AND MOBILE VIEW ---------*/

/* Title and Motto font size for DESKTOP view */
@media (min-width: 768px) {
    .title-box h1 {
        font-size: 72px; /* Adjust the font size for desktop view */
    }

    .title-box p {
        font-size: 24px; /* Adjust the font size for desktop view */
    }

    #introduction {
        padding: 20px;
        background-color: #f8f9fa; /* Light gray background */
        border-radius: 10px; /* Rounded corners */
        margin-bottom: 30px; /* Add some space below the section */
        max-width: 85%;
        margin: 0 auto;
    }

    #introduction h2 {
        font-family: 'Tilt Warp', sans-serif;
        font-size: 24px; /* Increase font size for headings */
        color: #333; /* Darker text color */
        margin-bottom: 10px; /* Add some space below the heading */
    }

    #introduction .content {
        line-height: 1.6; /* Increase line height for better readability */
        font-size: 18px; /* Adjust font size for content */
    }

    #introduction .content p {
        font-family: 'Noto Serif Gurmukhi', serif;
        margin-bottom: 15px; /* Add some space between paragraphs */
        text-align: justify;
    }
}

/* Title font size and alignment for MOBILE view */
@media (max-width: 767px) {
    .title-box h1 {
        font-size: 33px; /* Adjust the font size for mobile view */
        text-align: center; /* Center align the title for mobile view */
    }

    #introduction {
        padding: 20px;
        background-color: #f8f9fa; /* Light gray background */
        max-width: 800px; /* Set a maximum width */
        margin: 0 auto; /* Center the section horizontally */
    }

    /* Adjustments for mobile view */
    @media (max-width: 767px) {
        #introduction {
            max-width: 90%; /* Adjust the maximum width for smaller screens */
        }
    }

    #introduction {
        padding: 20px;
        background-color: #f8f9fa; /* Light gray background */
        border-radius: 10px; /* Rounded corners */
        margin-bottom: 30px; /* Add some space below the section */
    }

    #introduction h2 {
        font-family: 'Tilt Warp', sans-serif;
        font-size: 24px; /* Increase font size for headings */
        color: #333; /* Darker text color */
        margin-bottom: 10px; /* Add some space below the heading */
    }

    #introduction .content {
        line-height: 1.6; /* Increase line height for better readability */
        font-size: 18px; /* Adjust font size for content */
    }

    #introduction .content p {
        margin-bottom: 15px; /* Add some space between paragraphs */
        font-family: 'Noto Serif Gurmukhi', serif;
        text-align: justify;
    }
}

/*----------- [END] DESKTOP AND MOBILE VIEW ---------*/