.topnav {
    background-color: #FFFFFF;
}

.navbar-brand img {
    height: 60px;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

.white-body {
    background-color: #FFFFFF;
    padding: 20px;
}

.title-section {
    padding: 50px 0;
}

.title-box {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    max-width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title-box h1 {
    font-family: 'Tilt Warp', sans-serif;
    margin-bottom: 10px;
    margin-top: 20px;
}

.title-box p {
    font-family: 'Noto Serif Gurmukhi', serif;
    margin-bottom: 20px;
}

.picture-section {
    padding: 20px 0;
    text-align: center;
}

.picture-section img {
    max-width: 80%;
    border-radius: 10px;
    margin-top: -100px;
    align-items: center;
}

#introduction {
    padding: 20px;
    max-width: 85%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 30px;
}

#introduction h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#introduction .content {
    line-height: 1.6;
    font-size: 18px;
}

#introduction .content p {
    margin-bottom: 15px;
    font-family: 'Noto Serif Gurmukhi', serif;
    text-align: justify;
}
#wdc h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    
}

#wdc .content {
    line-height: 1.6;
    font-size: 18px;
    
}

#wdc .content p {
    font-family: 'Noto Serif Gurmukhi', serif;
    margin-bottom: 15px;
    text-align: justify;
    
}

#aspects {
    padding: 20px;
    max-width: 85%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 30px;
}

#aspects h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#aspects .content {
    line-height: 1.6;
    font-size: 18px;
}

#aspects .content p {
    margin-bottom: 15px;
    font-family: 'Noto Serif Gurmukhi', serif;
    text-align: justify;
}

#conclusion {
    padding: 20px;
    max-width: 85%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 30px;
}

#conclusion h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#conclusion .content {
    line-height: 1.6;
    font-size: 18px;
}

#conclusion .content p {
    margin-bottom: 15px;
    font-family: 'Noto Serif Gurmukhi', serif;
    text-align: justify;
}

#ux {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 0px;
    max-width: 85%;
    margin: 0 auto;
}

#ux h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#ux .content {
    line-height: 1.6;
    font-size: 18px;
}

#ux .content p {
    font-family: 'Noto Serif Gurmukhi', serif;
    margin-bottom: 15px;
    text-align: justify;
}

#accessibility {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 85%;
    margin: 0 auto;
}

#accessibility h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#accessibility .content {
    line-height: 1.6;
    font-size: 18px;
}

#accessibility .content p {
    font-family: 'Noto Serif Gurmukhi', serif;
    margin-bottom: 15px;
    text-align: justify;
}

#responsiveness {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 85%;
    margin: 0 auto;
}

#responsiveness h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#responsiveness .content {
    line-height: 1.6;
    font-size: 18px;
}

#responsiveness .content p {
    font-family: 'Noto Serif Gurmukhi', serif;
    margin-bottom: 15px;
    text-align: justify;
}

#vd {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 85%;
    margin: 0 auto;
}

#vd h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#vd .content {
    line-height: 1.6;
    font-size: 18px;
}

#vd .content p {
    font-family: 'Noto Serif Gurmukhi', serif;
    margin-bottom: 15px;
    text-align: justify;
}

#po {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 85%;
    margin: 0 auto;
}

#po h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#po .content {
    line-height: 1.6;
    font-size: 18px;
}

#po .content p {
    font-family: 'Noto Serif Gurmukhi', serif;
    margin-bottom: 15px;
    text-align: justify;
}

#cs {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 85%;
    margin: 0 auto;
}

#cs h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#cs .content {
    line-height: 1.6;
    font-size: 18px;
}

#cs .content p {
    font-family: 'Noto Serif Gurmukhi', serif;
    margin-bottom: 15px;
    text-align: justify;
}

#seo {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 85%;
    margin: 0 auto;
}

#seo h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#seo .content {
    line-height: 1.6;
    font-size: 18px;
}

#seo .content p {
    font-family: 'Noto Serif Gurmukhi', serif;
    margin-bottom: 15px;
    text-align: justify;
}

#security {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 85%;
    margin: 0 auto;
}

#security h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#security .content {
    line-height: 1.6;
    font-size: 18px;
}

#security .content p {
    font-family: 'Noto Serif Gurmukhi', serif;
    margin-bottom: 15px;
    text-align: justify;
}

#scaleflex {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 85%;
    margin: 0 auto;
}

#scaleflex h2 {
    font-family: 'Tilt Warp', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#scaleflex .content {
    line-height: 1.6;
    font-size: 18px;
}

#scaleflex .content p {
    font-family: 'Noto Serif Gurmukhi', serif;
    margin-bottom: 15px;
    text-align: justify;
}

#credits .name {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    font-size: 12px;
    color: #a0aec0;
}

@media (min-width: 768px) {
    .title-box h1 {
        font-size: 72px;
    }

    .title-box p {
        font-size: 24px;
    }

    #wdc {
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 10px;
        margin-bottom: 30px;
        max-width: 85%;
        margin: 0 auto;
    }

    #wdc h2 {
        font-family: 'Tilt Warp', sans-serif;
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
    }

    #wdc .content {
        line-height: 1.6;
        font-size: 18px;
    }

    #wdc .content p {
        font-family: 'Noto Serif Gurmukhi', serif;
        margin-bottom: 15px;
        text-align: justify;
    }
}


@media (max-width: 767px) {
    .title-box h1 {
        font-size: 33px;
        text-align: center;
    }
    
    #wdc {
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 10px;
        margin-bottom: 30px;
        max-width: 85%;
        margin: 0 auto;
    }

    #wdc h2 {
        font-family: 'Tilt Warp', sans-serif;
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
    }

    #wdc .content {
        line-height: 1.6;
        font-size: 18px;
    }

    #wdc .content p {
        font-family: 'Noto Serif Gurmukhi', serif;
        margin-bottom: 15px;
        text-align: justify;
    }
}

@media (max-width: 991.98px) {
    .navbar-toggler {
        display: block;
    }
}

@media (min-width: 992px) {
    .navbar-collapse {
        display: flex !important;
        justify-content: flex-end;
    }
}
